body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 100px;
    min-height: 65vh;
    flex: 1;
}

h1 {
    color: cadetblue;
}

.card {
    width: 320px;
    margin: 100px auto;
}

.card-body {
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}

#restaurant-title {
    color: cadetblue;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 100px;
    background-color: #4CAF50;;
}

header .nav-item a {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

footer .card-header {
    text-align: center;
    width: 100%;
    background-color: #499c4f;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

footer {
    background-color: #499c4f;
    color: white;
    padding: 14px;
}

.footer-text {
    color: white;
}

/*pagination css*/

/* pagination css */
.pagination {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; /* 追加: フッターとの間にスペースを作る */
}

.pagination-info, .pagination-no {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-info div {
    margin: 5px;
    padding: 10px;
    border: 1px solid lightgrey;
}

.pagination-no div {
    margin: 5px;
    padding: 10px;
}